/* Fichier CSS pour la section A propos*/
body {
    background-color: #d9e9e6;
}

#logo {
    width: 100px;

}


nav {
    text-align: center;
    position: sticky;
    background-image: url(noir.png);
    
}


li {
    display: inline;
    padding: 50px;
    color: white;
}

a{
    text-decoration: none;
}


footer {
    background-image: url(noir.png);
    color: white;
    text-align: center;
}


#titre {
    text-align: center;
}

main{
    background-color: red;
    opacity: 0.5;
    border: 5px solid black;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

#ancre{
    width: 50px;
}