body {
    background-color: #d9e9e6;
}


figure {
    width: 100px;
    transform: rotate(-20deg);
    position: absolute;
}


nav {
    text-align: center;
}


li {
    display: inline;
    padding: 50px;
    color: black;
}

a {
    text-decoration: none;
}
footer {
    background-image: url(noir.png);
    color: white;
    text-align: center;
}


#titre {
    text-align: center;
}