/* Fichier CSS pour la section Transport en commun*/
body {
    background-color: #d9e9e6;
}

#logo {
    width: 100px;

}


nav {
    text-align: center;
    position: sticky;
    background-image: url(noir.png);
    
}


li {
    display: inline;
    padding: 50px;
    color: white;
}


footer {
    background-image: url(noir.png);
    color: white;
    text-align: center;
}



#titre {
    text-align: center;
}