/* Fichier CSS pour la section Transport en commun*/
body {
    background-color: #d9e9e6;
}

#logo {
    width: 100px;

}


li {
    display: inline;
    padding: 50px;
    color: white;
}

a{
    text-decoration: none;
}


footer {
	background-image: url(../Pictures/noir.png);
    color: white;
    text-align: center;
}



#titre {
    text-align: center;
}
#galerie-menu 
{
	height:300px;
	width:670px;
	margin:1em auto;
	border:solid;
	border-radius:3px;
	box-shadow:1px 1px 3px gray;
	
}


#galerie-menu a 
{
    transform:scale(0.75);
	
}
#galerie-menu a:hover, #galerie-menu a:focus 
{
    transform:scale(2.1);
	
}

#galerie-menu 
{
	width:350px;
	height: 35%;
	margin:auto;
	border:solid;
	border-radius:5px;
	box-shadow:2px 2px 5px gray;
	text-align:center;
	}
#galerie-menu a img 
{
	height:75%;
	width:75%;
	border:none;
	vertical-align:top;
}
#galerie-menu a 
{
	border-radius:15px;
	display:inline-block;
	transform:scale(0.75);
	overflow:hidden;
	box-shadow: 0 0 15px gray;
	border:solid white;
	transition:1s;
	z-index:1;
}
#galerie-menu a:hover,#galerie-menu a:focus 
{
	transform:scale(1);
	transform-origin:top center;
	z-index:5;
	background:white;
	transition:1s;
}
#galerie-menu a:before 
{
	content:attr(title);
	position:absolute;
	color:white;
	bottom:0;
	box-shadow:0 0 3px white;
	display:block;
	width:100%;
	background:rgba(0,0,0,0.3);
}


.ancre{
    width: 50px;
}

.femme{
	width: 500px;
	float: left;
}


#bus,#rer,#cdg,#metro{
	font-weight: bold;
	text-align: center;
}