/* Fichier CSS pour la section A propos*/
body {
    background-color: #d9e9e6;
}

#logo {
    width: 100px;

}




li {
    display: inline;
    padding: 50px;
    color: white;
}

a{
    text-decoration: none;
}


footer {
    background-image: url(../Pictures/noir.png);
    color: white;
    text-align: center;
}


#titre {
    text-align: center;
}

main{
    background-color: red;
    opacity: 0.5;
    border: 5px solid black;
    font-style: italic;
    text-align: justify;
    font-size: 20px;
}

.ancre{
    width: 50px;
}