#galerie-menu 
{
	width:670px;
	margin:auto;
	border:solid;
	border-radius:5px;
	box-shadow:2px 2px 5px gray;
	background:#ccc;
	text-align:center;
	}
#galerie-menu a img 
{
	height:120px;
	width:120px;
	border:none;
	vertical-align:top;
}
#galerie-menu a 
{
	border-radius:15px;
	display:inline-block;
	transform:scale(0.75);
	overflow:hidden;
	box-shadow: 0 0 15px gray;
	border:solid white;
	transition:1s;
	z-index:1;
}
#galerie-menu a:hover,#galerie-menu a:focus 
{
	transform:scale(2.07);
	transform-origin:top center;
	z-index:5;
	background:white;
	transition:1s;
}
#galerie-menu a:before 
{
	content:attr(title);
	position:absolute;
	color:white;
	bottom:0;
	box-shadow:0 0 3px white;
	display:block;
	width:100%;
	background:rgba(0,0,0,0.3);
}


#galerie-menu a 
{
    transform:scale(0.75);
}
#galerie-menu a:hover, #galerie-menu a:focus 
{
    transform:scale(2.1);
}